<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DigitalPlatformManagementSystm.Properties.Settings.DigitalPlatformManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-FFHDI70;Initial Catalog=DigitalPlatformManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>